html,
body {
  min-height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  margin: 0;
  background-image: url("/assets/images/bg-web.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit !important;
}
a:hover {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.header-top {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 65px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #0000000d;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 1020;
}
.header-top img {
  width: 172px;
  height: 38px;
  object-fit: cover;
}

.header-left {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 75px;
  bottom: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 65px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-left .box-header {
  position: relative;
  height: 100%;
  text-align: center;
}
.header-left .logo {
  max-width: 35px;
  max-height: 35px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header-left .navbar-toggler {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.header-left .other {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  margin-left: 75px;
}

.section-1 {
  background-color: #ffffff;
}
.section-1 img {
  height: 429px;
  object-fit: cover;
}

.section-2 {
  background-color: #ffffff;
  padding: 100px 150px;
}
.section-2 .left {
  width: 50%;
  margin-right: 32px;
}
.section-2 .left .text-1 {
  color: #d02027;
  font-size: 20px;
}
.section-2 .left .text-2 {
  font-size: 48px;
  font-weight: 300;
}
.section-2 .left .text-3 {
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.section-2 .right {
  margin-left: 32px;
  width: 50%;
}
.section-2 .btn-1 {
  width: 176px;
  height: 56px;
  background: #d02027;
  color: #ffffff;
}

.section-3 {
  padding: 100px 150px;
}
.section-3 .text-1 {
  color: #d02027;
  font-size: 20px;
}
.section-3 .text-2 {
  font-size: 48px;
  font-weight: 300;
}
.section-3 .box-product {
  margin-top: 90px;
}
.section-3 .box-product .card-product {
  margin-bottom: 32px;
}
.section-3 .box-product .card-product .img-product {
  height: 400px;
}
.section-3 .box-product .card-product .detail-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: #47484a;
  background-clip: content-box;
  position: absolute;
  padding-right: 15px;
  padding-left: 15px;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: visibility 0s linear 100ms, opacity 100ms;
}
.section-3 .box-product .card-product .detail-product .logo {
  max-width: 250px;
  max-height: 100px;
}
.section-3 .box-product .card-product .detail-product .text,
.section-3 .box-product .card-product .detail-product .button {
  margin-top: 16px;
  margin-bottom: 16px;
}
.section-3 .box-product .card-product:hover .detail-product {
  visibility: visible;
  opacity: 1;
  color: #ffffff;
}

.section-4 {
  background-color: #f9f9f9;
}
.section-4 .left {
  width: 35%;
  position: relative;
}
.section-4 .left .bg {
  position: absolute;
  z-index: 1;
  height: 100%;
  object-fit: cover;
}
.section-4 .left .content {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}
.section-4 .left .content .text-1 {
  font-size: 20px;
}
.section-4 .left .content .text-2 {
  font-size: 48px;
}
.section-4 .right {
  width: 65%;
  position: relative;
}
.section-4 .right .bg-content {
  background: transparent linear-gradient(180deg, #ffffff67 0%, #ffffff 100%);
  opacity: 1;
  filter: blur(17px);
  position: absolute;
  bottom: -25px;
  height: 250px;
  width: 100%;
}

.section-5 {
  padding: 100px 150px;
  background-color: #f9f9f9;
}
.section-5 .text-1 {
  font-size: 20px;
}
.section-5 .text-2 {
  font-size: 48px;
}
.section-5 .btn-1 {
  width: 176px;
  height: 56px;
  background: #d02027;
  color: #ffffff;
}

.section-6 {
  background-color: #ffffff;
}
.section-6 .btn-1 {
  width: 176px;
  height: 56px;
  background: #d02027;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
