$font-stack: "Ubuntu", sans-serif;
$main-background: #ffffff;
$second-background: #f9f9f9;
$font-size-title: 20px;
$font-size-detail: 48px;

html,
body {
  min-height: 100%;
}

body {
  font-family: $font-stack !important;
  margin: 0;
  background-image: url("/assets/images/bg-web.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit !important;
  &:hover {
    text-decoration: none !important;
  }
}

img {
  width: 100%;
}

.header-top {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 65px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #0000000d;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 1020;
  img {
    width: 172px;
    height: 38px;
    object-fit: cover;
  }
}

.header-left {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 75px;
  bottom: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 65px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  .box-header {
    position: relative;
    height: 100%;
    text-align: center;
  }
  .logo {
    max-width: 35px;
    max-height: 35px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-toggler {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .other {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.content {
  margin-left: 75px;
}

.section-1 {
  background-color: $main-background;
  img {
    height: 429px;
    object-fit: cover;
  }
}

.section-2 {
  background-color: $main-background;
  padding: 100px 150px;
  .left {
    width: 50%;
    margin-right: 32px;
    .text-1 {
      color: #d02027;
      font-size: $font-size-title;
    }
    .text-2 {
      font-size: $font-size-detail;
      font-weight: 300;
    }
    .text-3 {
      font-size: 16px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
  .right {
    margin-left: 32px;
    width: 50%;
  }

  .btn-1 {
    width: 176px;
    height: 56px;
    background: #d02027;
    color: #ffffff;
  }
}

.section-3 {
  padding: 100px 150px;
  .text-1 {
    color: #d02027;
    font-size: $font-size-title;
  }
  .text-2 {
    font-size: $font-size-detail;
    font-weight: 300;
  }
  .box-product {
    margin-top: 90px;
    .card-product {
      margin-bottom: 32px;
      .img-product {
        height: 400px;
      }
      .detail-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;
        background: #47484a;
        background-clip: content-box;
        position: absolute;
        padding-right: 15px;
        padding-left: 15px;
        top: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        // visibility: visible;
        // opacity: 1;
        transition: visibility 0s linear 100ms, opacity 100ms;
        .logo {
          max-width: 250px;
          max-height: 100px;
        }
        .text,
        .button {
          margin-top: 16px;
          margin-bottom: 16px;
        }
      }
      &:hover .detail-product {
        visibility: visible;
        opacity: 1;
        color: #ffffff;
      }
    }
  }
}

.section-4 {
  background-color: $second-background;
  .left {
    width: 35%;
    position: relative;
    .bg {
      position: absolute;
      z-index: 1;
      height: 100%;
      object-fit: cover;
    }
    .content {
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      color: #ffffff;
      .text-1 {
        font-size: $font-size-title;
      }
      .text-2 {
        font-size: $font-size-detail;
      }
    }
  }
  .right {
    width: 65%;
    position: relative;
    .bg-content {
      background: transparent
        linear-gradient(180deg, #ffffff67 0%, #ffffff 100%);
      opacity: 1;
      filter: blur(17px);
      position: absolute;
      bottom: -25px;
      height: 250px;
      width: 100%;
    }
  }
}

.section-5 {
  padding: 100px 150px;
  background-color: $second-background;
  .text-1 {
    font-size: $font-size-title;
  }
  .text-2 {
    font-size: $font-size-detail;
  }
  .btn-1 {
    width: 176px;
    height: 56px;
    background: #d02027;
    color: #ffffff;
  }
}

.section-6 {
  background-color: $main-background;
  .btn-1 {
    width: 176px;
    height: 56px;
    background: #d02027;
    color: #ffffff;
  }
}
